:root {
  --bg-body: hsl(217, 54%, 11%);
  --bg-card: hsl(216, 50%, 16%);
  --clr-divider: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary-blue: hsl(215, 51%, 70%);
  --clr-primary-cyan: hsl(178, 100%, 50%);

  --ff-base: "Outfit", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --fs-title: 2.2rem;
  --fs-body: 1.8rem;
  --fs-desc: 1.6rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fs-body);
  font-weight: var(--fw-300);
  font-family: var(--ff-base);
  background-color: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 35rem;
  height: 59.5rem;
  color: var(--clr-white);
  background-color: var(--bg-card);
  padding: 2.5rem;
  border-radius: 1.5rem;
  overflow: hidden;
  user-select: none;
}

.img-container {
  margin-bottom: 2.5rem;
  position: relative;
}

.card-img {
  border-radius: 1rem;
}

.card-preview {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 1s;
}

.card-preview::before {
  content: url('img/icon-view.svg');
}

.card-preview:hover {
  opacity: 1;
}

.title {
  cursor: pointer;
  font-size: var(--fs-title);
  font-weight: var(--fw-700);
  margin-bottom: 1.5rem;
}

.title:hover {
  color: var(--clr-primary-cyan);
}

.card-description {
  color: var(--clr-primary-blue);
  font-weight: var(--fw-300);
  line-height: 1.5;
  margin-bottom: 2.3rem;
}

.card-detail {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-desc);
  font-weight: var(--fw-700);
}

.card-detail span {
  display: flex;
  align-items: center;
}

.card-detail span:not(:last-child) {
  color: var(--clr-primary-cyan);
}

.card-detail span:last-child {
  font-weight: var(--fw-400);
  color: var(--clr-primary-blue);
}

.divider {
  width: 100%;
  height: 0.1rem;
  background-color: var(--clr-divider);
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  color: var(--clr-primary-blue);
}

.author-img {
  max-width: 33px;
  margin-right: 1.7rem;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

.author p {
  font-size: var(--fs-desc);
}

a {
  font-weight: var(--fw-400);
  text-decoration: none;
  color: var(--clr-white);
}

a:hover {
  color: var(--clr-primary-cyan);
}
